@import url('https://fonts.googleapis.com/css2?family=Playpen+Sans:wght@500&display=swap');

/* Asterisk wildcard selector to override default styles added by the browser */

html,
body {
    height: 100%;
    margin: 0;
}


body { 
    font-family:'Playpen Sans',cursive;
    color: white;
    background: url("../css/img/food.jpg") no-repeat center center/cover;
    
}

footer {
    background-color:red;
    clear: both;
        position: relative;
        height: 100px;
        margin-top: 310px;
       opacity: .8;
       justify-content: space-evenly;
        list-style-type: none;
      display: flex;
      margin-left: auto;
    margin-right: auto;}

   


.box {
    width: 900px;
    float: right;
   
    color: white;
}


.box ul li {
    width: 120px;
    float: left;
    margin: 10px auto;
    text-align: center;
    color:red;

}

.box ul li a {
    text-decoration: none;
    color: red;
    
}

.box ul li:hover {
    background-color: white;
}

.first-text {
    width: 300px;
    height: 300px;
    background-color:red;
    opacity: 0, 9;
    padding: 55px;
    border-radius: 15px;
    opacity: .8;
}

.first-text h1 {
    text-align: center;
    text-transform: uppercase;
    font-weight: normal;
}

.first-text h4 {
    text-align: center;
    font-weight: normal;
}

.menu {
    width: 259px;
        height: 350px;
        background-color: green;
        opacity: 0, 9;
        padding: 40px;
        border-radius: 20px;
        opacity: .8;
    


}

.drinks { color:white;
    width: 200px;
        height: 300px;
        background-color: green;
        opacity: 0, 9;
        padding: 50px;
        border-radius: 20px;
        opacity: .8;
    
    
}
 

.style {
    width: 900px;
    float: right;
   
    color:red;
}

.style ul li {
    width: 120px;
    float: left;
    margin: 10px auto;
    text-align: center;

}

.style ul li a {
    text-decoration: none;
    color: red;

}

.style ul li:hover {
    background-color: white;
}


.con {
    width: 900px;
    float: right;
   
    color:red;
}

.con ul li {
    width: 120px;
    float: left;
    margin: 10px auto;
    text-align: center;

}

.con ul li a {
    text-decoration: none;
    color: red;

}

.con ul li:hover {
    background-color:white;
}

.contact {
    width: 300px;
    height: 539px;
    background-color: red;
    opacity: 0, 9;
    padding: 50px;
    border-radius: 15px;
    opacity: .8;
}

.contact h1 {
    text-align: center;
}

.contact h4 {
    text-align: center;
}

.reservation {
    color: red;
}


@media screen and (min-width :768px) {
    .box ul li { 
        width:100px;
        height:200px;
        text-align: center;

    }
  
