@import url('https://fonts.googleapis.com/css2?family=Playpen+Sans:wght@500&display=swap');

/* Asterisk wildcard selector to override default styles added by the browser */

html,
body {}


body {
    font-family: 'Playpen Sans', cursive;
    color: white;
    background: url("../css/img/food.2jpg.jpg") no-repeat center center/cover;
    width: 100%;
    font-size: large;
    height: 100%;

}


footer {
    background-color: orange;
    positin: relative;
    opacity: .8;
    justify-content: space-evenly;
    list-style-type: none;
    display: flex;
    margin-left: auto;
    margin-right: auto;
    margin-top: 500px;
    height: fit-content;
}




#box {
    width: 100px;
    float: right;
    color: white;
    position: relative;

}


#box ul li {
    width: 500px;
    float: right;
    color: orange;
    position: relative;
    top: -175px;


}

#box ul li a {
    text-decoration: none;
    color: green;

}

#box ul li:hover {
    background-color: white;
}

.first-text {
    width: 300px;
    height: 300px;
    background-color: orange;
    opacity: 0, 9;
    padding: 55px;
    border-radius: 15px;
    opacity: .8;
    margin-top: 200px;
    margin-left: 120px;
    margin-bottom: 218px;
}

.first-text h1 {
    text-align: center;
    text-transform: uppercase;
    font-weight: normal;
    color: green
}

.first-text h4 {
    text-align: center;
    font-weight: normal;
}

.menu {
    width: 259px;
    height: 350px;
    background-color: orange;
    opacity: 0, 9;
    padding: 40px;
    border-radius: 20px;
    opacity: .8;
    margin-top: 200px;
    margin-left: 175px;
    color: green;



}

.drinks {
    color: green;
    width: 200px;
    height: 300px;
    background-color: orange;
    opacity: 0, 9;
    padding: 50px;
    border-radius: 20px;
    opacity: .8;
    margin-right: 175px;
    margin-top: -203px;


}


.style {
    width: 900px;
    float: right;

    color: orange;
}

.style ul li {
    width: 120px;
    float: left;
    margin: 10px auto;
    text-align: center;

}

.style ul li a {
    text-decoration: none;
    color: orange;

}

.style ul li:hover {
    background-color: white;
}


.con {
    width: 900px;
    float: right;

    color: black;
}

.con ul li {
    width: 120px;
    float: left;
    margin: 10px auto;
    text-align: center;

}

.con ul li a {
    text-decoration: none;
    color: orange;

}

.con ul li:hover {
    background-color: white;
}

.contact {
    width: 300px;
    height: 610px;
    background-color: orange;
    opacity: 0, 9;
    padding: 50px;
    border-radius: 15px;
    opacity: .8;
    margin-top: 185px;
    margin-left: auto;
    margin-right: auto;
    color: green;
}

.contact h1 {
    text-align: center;
}

.contact h4 {
    text-align: center;
}

.reservation {
    color: red;
}


/* media queries*/

@media screen and (max-width: 768px) {

    body {
        background: url("../css/img/pexels-karolina-grabowska-7185806.jpg")
    }

    .first-text {
        width: 175px;
        height: 15px;
        opacity: 0, 9;
        border-radius: 15px;
        opacity: .8;
        color: red;
        background-color: transparent;
        margin-left: auto;
        margin-right: auto;
        margin-bottom: 570px;
    }

    nav {
        position: fixed;
        color: black;
        z-index: 1;
    }

    .menu {

        background: none;
        color: black;
        text-align: left;
        padding-left: 1rem;
        margin-left: auto;
        margin-right: auto;
    }

    .drinks {
        padding-top: 120px;
        background: transparent;
        color: black;
        text-align: left;
        margin-right: -10px;
        margin-left: auto;
        margin:10px;
    }

    .contact {
        padding-top: 20px;
        background: none;
        color: black;
        text-align: center;
    }

    #box {
        width: 200px;
        float: right;
        color: black;
        position: absolute;
        margin-left: 530px;


    }